
<h2 mat-dialog-title>Iniciar Sesión</h2>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Usuario</mat-label>
    <input matInput type="text" formControlName="username" placeholder="Ingrese su usuario">
    <mat-error *ngIf="loginForm.get('username')?.hasError('required')">
      El nombre de usuario es obligatorio
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Contraseña</mat-label>
    <input matInput type="password" formControlName="password" placeholder="Ingrese su contraseña">
    <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
      La contraseña es obligatoria
    </mat-error>
  </mat-form-field>

   <!-- Mostrar el mensaje de error si existe -->
   <div *ngIf="loginError" class="error-message">
    <mat-error>{{ loginError }}</mat-error>
  </div>

  <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Iniciar Sesión</button>
</form>



